* {
    margin: 0;
    box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Heading ---- */

.search-input {
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="search"] {
    width: 500px;
    height: 50px;
}

input::placeholder {  
    font-size: 20px;
    padding-left: 5px;
}

/* ---- Layout Containers ---- */

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* ---- Main---- */

.gallery {
    width: 95%;
    margin: 0 auto; /* This centers the grid within the container*/
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px 10px;
}

.gallery-card img {
    width: 92%;
}

/* ================================= 
  Media Queries 768px
==================================== */

